[2018-07-18 15:40] kakkoyun opened #4 "Custom cache keys with templating"
* Add support for custom cache keys (per mounted path?)
* Add support for templating
* Add customizable context information (git metadata, custom metadata)
* Add helper functions

For inspiration:
* https://circleci.com/docs/2.0/caching/#using-keys-and-templates

[2018-11-22 08:10] kakkoyun opened #6 "Add optional compression"

[2019-02-15 12:50] #4 closed, assigned to kakkoyun

[2019-02-15 12:50] #6 closed, assigned to nobody

[2019-02-18 11:12] jairamc opened #11 "Add ability to use checksum of a file in cache key"
Let me start by congratulating on the addition of ability to create custom cache keys - #4. Very useful feature.

Something that we find very useful about the [feature in CircleCI](https://circleci.com/docs/2.0/caching/#using-keys-and-templates) is ability to use the checksum of a file in the cache key. For ex:

[code]

For maven projects like ours, the dependency JARs are the ones that change inf

[2019-02-19 10:21] #11 closed, assigned to nobody

[2019-03-27 12:21] stiangrindvoll opened #27 "Update the drone.io logo in drone-cache's logo"
The drone.io logo has recently change and it would make sense to update drone-cache's logo to reflect this.

[2019-03-27 13:29] #27 closed

[2019-04-05 09:40] kakkoyun opened #30 "[build] Trigger goreleaser Drone build stage when master tagged"
Current trigger with the latest version of Drone does not triggers related stage.

[2019-04-22 20:50] surzycki opened #34 "Checksum does not appear to read file contents"
I have an entry similar to this in the settings for the cache-key template

[code]

However, no matter the contents of that file, the cache key is always:

[code]

[2019-04-22 22:14] kakkoyun commented on #34
Hello @surzycki, could you please try with "cache_key" instead of "cache-key"? Apparently, we have made a mistake on our prime example, I will fix it immediately.

[2019-04-23 08:05] surzycki commented on #34
That would be it ! thnks !

[2019-04-23 08:19] kakkoyun commented on #34
Documentation fixed.

[2019-04-23 08:19] #34 closed

[2019-05-15 16:22] kakkoyun commented on #30
done

[2019-05-15 16:22] #30 closed

[2019-05-28 09:33] rpieciorak opened #39 "Allow to configure skipping symbolic links"
When caching `node_moodules` directory for `node` projects there are many useful links in `node_modules/.bin` directory.

However, I could not find a way to configure `tar` or `gzip` archiver to include symbolic links into the archive file produces by the plugin.

Missing links force you to reinstall packages which kill the idea of the cache.

[2019-05-28 18:40] cdvv7788 opened #40 "Filesystem example is misleading"
The filesystem example has the following:

[code]

However, according to [drone docs](https://docs.drone.io/user-guide/pipeline/volumes/) a temp folder is for sharing information between steps, not builds.

To circumvent this, I had to use:

[code]

This, however, has the restriction of requiring the repository to be trusted. After doing that, everything worked as expected.

There is nothing wrong

[2019-06-03 07:42] kakkoyun commented on #40
@cdvv7788 Thanks a lot for reporting. I will improve the documentation.

[2019-06-03 07:45] kakkoyun commented on #39
@rpieciorak Thanks for reporting this. I haven't realized it. It's probably better to include symbolic links by default if they are within the directory. I can also add an option to configure it.

[2019-06-06 13:57] adrienharnay commented on #39
Hey, ran into this as well, let me know if I can help to tackle this 🙂 cheers

[2019-06-06 14:01] kakkoyun commented on #39
@adrienharnay Thanks. I've started working on it, I'll send the PR soon. I could definitely use some help while testing it.

[2019-06-06 14:34] adrienharnay commented on #39
With pleasure!

[2019-06-11 20:10] kakkoyun opened #43 "Update Changelog"
- Keep CHANGELOG.md up-to-date using releases

[2019-06-11 20:11] kakkoyun opened #44 "Update Drone plugin index"
Update https://github.com/drone/drone-plugin-index/blob/master/content/meltwater/drone-cache/index.md

* [ ] Generate DOCS.md from usage and examples
* [ ] Clone local DOCS.md to repo (open a PR?)
* [ ] Automate process

[2019-06-12 10:56] kakkoyun commented on #39
I have released these #42 changes, under `dev` label (exact image: `meltwater/drone-cache:dev')
Automated tests look good, I'm trying to find a node project to test it with. Do you mind testing it with your pipelines as well? @adrienharnay @rpieciorak

[2019-06-12 17:29] gabrielboliveira commented on #39
@kakkoyun I tried on a private setup but it didn't work. Its still not caching `node_modules/.bin` folder. I tried with `skip_symlinks: false`, `skip_symlinks: true` and without it.

I have a repo that you can use as an example: https://github.com/gabrielboliveira/newtab/blob/drone-ci/.drone.yml. I did not add the cache step on this specific repo because for me it breaks between builds, so it only

[2019-06-13 08:19] kakkoyun commented on #39
@gabrielboliveira Thanks a lot for then elaborate feedback. I'll look into the issue in depth over the weekend.

[2019-06-13 15:21] kakkoyun opened #45 "Improve quality of automated tests"
* [ ] Separate integration tests by case, table tests
* [ ] Introduce test helpers, make tests more readable
* [ ] Add unit tests

[2019-06-13 17:19] kakkoyun commented on #39
Alright, I have found some free time and fixed the issues, it works for me (or on my machine, or with my setup, famous last words 🤣). If you could test with your pipelines, I would be glad. And @gabrielboliveira thanks a lot again, your feedback was extremely helpful.

[2019-06-13 17:59] captainjapeng commented on #39
I can confirm that it's working now. Thank!

[2019-06-13 18:02] gabrielboliveira commented on #39
I can also confirm that it's working great now! Nice work @kakkoyun 🎉

[2019-06-14 08:09] #39 closed

[2019-07-12 16:10] cdvv7788 opened #48 "Not saving .bin when caching node_modules on filesystem"
## Expected Behavior
.bin is kept, so symlinks are not lost

## Actual Behavior
.bin folder is nowhere to be found

## Steps to Reproduce the Problem

  1. Create node_modules and install packages that symlink binaries into node_modules/.bin (i.e. jest)
  2. Rebuild cache
  3. Restore cache in another build
  4. Try to execute symlinked commands from restored cache

## Specifications

  - Version:

[2019-07-15 07:40] kakkoyun commented on #48
Hey @cdvv7788, have you checked this issue #39 and related fix #42? I thought I have fixed it.
I'm not sure sure which state is `dev` in. Could please test it with the latest stable version as well?

Thanks in advance.

[2019-07-25 14:27] cdvv7788 opened #50 "Cache not clearing"
## Expected Behavior
When I add [CLEAR CACHE] to a commit, the cache is not restored. Instead it is removed so the rebuild step can generate a new one.

## Actual Behavior
Directive is ignored

## Steps to Reproduce the Problem

  1. Create cache
  1. Push commit with [CLEAR CACHE] directive
  1. Cache is restored normally

## Specifications

  - Version: dev
  - Platform: Ubuntu 18
  - Subsystem:

[2019-07-26 19:21] seandtaber commented on #50
@cdvv7788 Thanks a lot for reporting this issue. We will work on a remedy.

[2019-07-27 08:46] kakkoyun commented on #43
Closed by #51

[2019-07-27 08:46] #43 closed

[2019-07-31 15:45] kakkoyun commented on #48
@cdvv7788 Is this still an issue?

[2019-07-31 15:47] kakkoyun commented on #50
Hey @cdvv7788, this is not a feature that `drone-cache` has right now. It's on our road map though.

[2019-07-31 17:57] cdvv7788 commented on #48
Sorry. Still haven't had the time to check it. I will do that tomorrow.

[2019-08-01 13:39] cdvv7788 commented on #48
@kakkoyun I tested with the :latest and it worked. Thanks!

[2019-08-01 13:39] #48 closed

[2019-08-20 22:47] aamarill opened #52 "Can't cache `bundle install`"
## Expected Behavior
Successfully cache the `/usr/local/lib/ruby` directory

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. Add The following .drone.yml and Gemfile

[code]
---
[code]

  2. Run `$ drone exec --trusted`

## Specifications
OS - Mac OS Mojave
[code]

Thank you for the awesome plugin and help in advance 😄

[2019-08-21 13:00] kakkoyun commented on #52
Hello @aamarill,

Thanks a lot for reaching out, I'm glad that you're enjoying the plugin.

The path that you try to cache is not in your `workspace`, thus you cannot cache it. A workspace is:

`drone-cache` has designed to work like this intentionally, because we can't assume what kind of permissions you have for your container runtime environment.

I tried to explain this in the documentation (a

[2019-08-21 18:13] aamarill commented on #52
@kakkoyun thank you so much for the clarification and suggestion.
I'll use this implementation! 🎉

[2019-08-21 18:13] #52 closed

[2019-09-16 07:46] aminafshar opened #55 "Cannot upload files larger than 5GB to AWS S3 in a single PUT operation"
## Expected Behavior
Successfully upload files larger than 5GB (using Multipart Upload API).

## Actual Behavior
[WARNING] could not build cache, process rebuild failed, could not upload: could not upload file: couldn't put the object: EntityTooLarge: Your proposed upload exceeds the maximum allowed size

## Steps to Reproduce the Problem

  1. Build cache for a directory larger than 5GB

## Speci

[2019-09-16 08:20] kakkoyun commented on #55
Hey @aminafshar, thanks a lot for reporting this. As far as I understand, we need to adjust our upload settings to use the multipart upload API. Apparently, we use single PUT API right now.

Feel free to send a PR if you're already familiar with AWS S3 API.

We'll do our best to fix this one, as soon as we've some free time.

[2019-09-19 13:28] kakkoyun opened #58 "Add --exit-code parameter"
Add --exit-code parameter to exit with error status code on failure, to improve integration tests.
Inspired by [`git diff --exit-code`](https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---exit-code).

[2019-10-04 19:37] jimsheldon commented on #40
#59 should fix this

@kakkoyun can you review?

[2019-10-05 08:53] kakkoyun opened #60 "Add SFTP Storage Backend"
Define a new backend for the plugin to support FTP

[2019-10-05 08:54] kakkoyun opened #61 "Add Google Cloud Storage Backend"
Create a new backend implementation to support GCP Object storage

[2019-10-05 08:55] kakkoyun opened #62 "Add Azure Storage Backend"
Create a new backend to support Microsoft Azure Object storage.

[2019-10-05 08:58] #40 closed

[2019-10-06 10:35] A-Hilaly commented on #61
Hello, can work on this one ?

[2019-10-07 08:22] kakkoyun commented on #61
Hello @A-Hilaly, of course, go ahead! You can bother me if you need anything. I'd be happy to review your work.

We already have interfaces and conventions in place to add a new back-end. You can have a look at https://github.com/meltwater/drone-cache/blob/master/cache/backend/s3.go to kickstart things.

[2019-10-07 08:51] A-Hilaly commented on #61
Nice 👍 ! Thanks for the tip @kakkoyun i'm going to open a PR soon

[2019-10-07 09:25] kakkoyun opened #63 "Add Red Hat Ceph Storage Backend"
Create a new backend to support red Hat Object storage.

[2019-10-08 09:45] spier opened #64 "[docs] move "Future Work" section to GH issues instead"
When looking at the [Future Work](https://github.com/meltwater/drone-cache#future-work) section in the README I was wondering if we should move this to github issues instead?

When doing a quick grouping, I think that for the following feature ideas we already have issues (or could easily create new ones):

[code]

The following look like chores/fixes/smaller features that we don't have issues for

[2019-10-08 09:55] kakkoyun commented on #64
@spier I think this is a great idea. As you said before we have already moved a couple of those things to issues. Thanks in advance for your contributions.

Just one thing to point out, we may have a related issue(#50) about `Flush or TTL/Retention policy`, you may want to separate flush and TTL part.

I have been also trying to promote collaboration for the repo that's why I have put #hacktoberfe

[2019-10-08 10:03] spier commented on #64
Quick fix: Added `hacktoberfest` and `hacktoberfest2019` topics to the repo.

I will work on the rest of the issues/documentation later and reach out to you if I have questions.

[2019-10-08 11:01] spier commented on #61
I am doing some documentation cleanup, so adding this link here.

This issue is about integrating with https://cloud.google.com/storage/

[2019-10-08 11:03] spier commented on #62
See https://azure.microsoft.com/en-in/services/storage/

[2019-10-08 11:04] spier commented on #63
@kakkoyun can you add a link to the storage backend that you are referring to here?

[2019-10-08 11:10] spier opened #65 "Add Alibaba OSS Storage Backend"
**Is your feature request related to a problem? Please describe.**

As a user of the [Alibaba Cloud](https://www.alibabacloud.com), I want to use [Alibaba OSS Storage](https://www.alibabacloud.com/product/oss) to persist my cache, so that I can reuse the storage system that I already know.

**Describe the solution you'd like**
Alibaba OSS Storage Backend

**Describe alternatives you've considered*

[2019-10-08 11:17] vtolstov opened #66 "Do you plan to support not only tar, but also rsync based copy"
**Is your feature request related to a problem? Please describe.**
if cache dir contains only some big files best to use rsync to it and not use tar

**Describe the solution you'd like**
ability to rsync files between cache and build volume

**Describe alternatives you've considered**
none

**Additional context**
none

[2019-10-08 11:47] spier commented on #65
@kakkoyun would this qualify as a good first issue for hacktoberfest too?

[2019-10-08 12:11] kakkoyun commented on #63
See https://www.redhat.com/en/technologies/storage/ceph for mentioned storage, and check https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/3/html/developer_guide/ceph-object-gateway-s3-api for technical details.

[2019-10-08 12:21] spier commented on #66
Hi @vtolstov and thanks for reaching out.

Can you describe what the problem is that you are currently experiencing? i.e. is drone-cache not working for you at all, or are builds slow, are what are you experiencing?

Also what file size are we talking about here? 100 MB? 500MB? 1GB?

[2019-10-08 12:35] vtolstov commented on #66
I have big dvd iso files that needs to be cached.
Pack 4-6 this files to tar not needed, So i simple need rsync

[2019-10-08 13:38] alexisvisco commented on #60
I would work on this.

I will use this library to dial with ftp/s:
https://github.com/jlaffaye/ftp

Have you any objection ?

[2019-10-08 13:40] kakkoyun commented on #64
@spier I guess we could say this is done. What do you think?

[2019-10-08 13:41] kakkoyun commented on #65
@spier Exactly, I've updated labels.

[2019-10-08 13:55] kakkoyun commented on #60
Hey @alexisvisco, that would be great. We love community contributions.

I wouldn't say objection but if I were you, I'd go with https://github.com/pkg/sftp. It's a very well maintained package with more contributors and activity. Also for the packages from `github.com/pkg` we may say defacto standard from the community.

In this repo, we tried to keep everything as "pure" as possible. We only use

[2019-10-08 14:02] spier commented on #64
@kakkoyun yes, I think so.

I am closing it.

[2019-10-08 14:02] #64 closed

[2019-10-08 14:10] alexisvisco commented on #60
I should have done my homework better, google did not offer it to me haha.

I will using  https://github.com/pkg/sftp, I will also start a [WIP] pull request tomorrow.

[2019-10-08 16:08] rugwirobaker commented on #65
Can I pick this up??

[2019-10-08 16:10] spier commented on #65
Absolutely @rugwirobaker, that would be awesome! Go for it :)

[2019-10-08 16:20] kakkoyun commented on #66
@vtolstov I definitely get the use case, unfortunately, it's not in our plans in near future. However, we had other reported issues about uploading large files (#55), we could consider this approach if large files become a big problem.

Again, that being said if you are willing to bite the bullet and work on this,  as long as we agree on a design and come up with an API that won't break existing b

[2019-10-09 10:37] akashsharma95 commented on #55
I would like to take this up

[2019-10-09 10:38] akashsharma95 commented on #62
Would like to take this up

[2019-10-09 11:09] kakkoyun commented on #55
Of course, please go ahead. Nobody works on this currently.

On Wed 9. Oct 2019 at 12:37 Akash Sharma <notifications@github.com> wrote:

--
Kemal Akkoyun

[2019-10-09 11:13] spier commented on #62
That would be awesome @akashsharma95! Let us know if you need help.

[2019-10-09 12:42] kakkoyun opened #69 "CI pushes latest tagged images when ever something merged to master"
**Describe the bug**
CI pushes `latest` tagged images whenever something merged to master. This wasn't the intended behaviour. It should only push `latest` images whenever a git tag created.

**To Reproduce**
Steps to reproduce the behavior:
1. Merge or push a commit to master.
2. Check [Docker Hub](https://hub.docker.com/r/meltwater/drone-cache) to see newly created image.

**Expected behavior**

[2019-10-09 19:41] kakkoyun opened #70 "Add TTL to cache archives"
**Is your feature request related to a problem? Please describe.**
As a user, I would like to set a time-to-live to archives when they are cached.

**Describe the solution you'd like**
Whenever an archive's TTL expires, the archive should automatically expire.

[2019-10-09 20:13] kakkoyun commented on #70
We can provide this feature if storage backend provides this feature.

[2019-10-09 20:17] kakkoyun commented on #70
For AWS S3 following could be a good starting point: https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#S3.PutBucketLifecycle

[2019-10-10 11:05] Beanow opened #72 "Feature request: log gzip compression ratio"
**Is your feature request related to a problem? Please describe.**
Currently I'm investigating a slowdown in the caching steps for a build. I'm aware the data being cached has grown significantly, so I wondered how "just tar" vs tar with gzip would perform.

Turns out, tar without gzip performed worse because I was getting a whopping 80% size reduction.

**Describe the solution you'd like**
In the

[2019-10-10 11:34] kakkoyun commented on #72
@Beanow Thanks a lot for reporting this. It's not very hard to achieve this. I'll add a line in debug logs. I have plans to improve logging in the backlog anyway.

Would it be useful to have the ability to configure the compression level?

[2019-10-10 11:38] Beanow commented on #72
For this particular problem. I don't think so.
Both that 3.6GB archive and the 535MB one, has currently 122 logical divisions inside it. The majority of which I don't need every build. So the ability to manage the cache more dynamically is what I need in this case.

[2019-10-11 13:39] A-Hilaly commented on #61
@kakkoyun while implementing this backend, i realised that Cloud Storage Go client need a `context.Context` for read/write operations. `aws-go-sdk` has also methods that uses context like `PutObjectWithContext`.

I had toughs about changing the Backend interface to allow context propagation with something like:

[code]
Anyways this will certainly force changes all over the backends/plugin/main and

[2019-10-11 14:06] kakkoyun commented on #61
@A-Hilaly That's a good idea. I'm also a fan of `context`s nowadays. After we merge a couple of backend implementations, we can change the interface and refactor, accordingly if this emerges as a pattern.

[2019-10-13 19:33] kakkoyun opened #74 "Add timeout option to cancel outgoing request after the given time"
**Is your feature request related to a problem? Please describe.**
In order to prevent hanging outgoing calls to remote storages introduce a timeout logic.

**Describe the solution you'd like**
Add timeout CLI option to cancel outgoing request after the given time.
Use `context` to cancel outgoing requests.

[2019-10-14 07:42] #69 closed

[2019-10-15 13:17] kakkoyun opened #76 "Use go-cloud to support multiple object stores"
**Is your feature request related to a problem? Please describe.**
Since we have multiple backends to support, for ease of integration we can use [go-cloud](https://github.com/google/go-cloud) for integration.

**Describe the solution you'd like**
This integration would give us multiple blob store integration. Check out the details https://github.com/google/go-cloud/blob/master/internal/website/co

[2019-10-19 07:57] kakkoyun commented on #65
@rugwirobaker How's it going? Do you have any progress? Please let me know if you need anything.

[2019-10-19 07:58] kakkoyun commented on #55
@aminafshar I have accidentally assigned this issue to you, sorry about that.

[2019-10-19 07:59] kakkoyun commented on #55
@akashsharma95 Have you gotten any chance to look at it? Please let me know if you need anything.

[2019-10-19 08:04] kakkoyun commented on #62
@akashsharma95 if you haven't started this one, please take a look at #76. It'd be awesome to use `go-cloud` for this.

[2019-10-19 08:05] kakkoyun commented on #44
This should be done after next major release.

[2019-10-20 11:58] kakkoyun commented on #60
Fixed by #68.

[2019-10-20 11:58] #60 closed

[2019-10-20 12:11] kakkoyun commented on #60
This feature is not released yet, it is available with the tag `master-43bce02` though.
Use `meltwater/drone-cache:master-43bce02` as image to test.

[2019-10-21 06:02] rugwirobaker commented on #65
@kakkoyun hello. I am almost down with the setup but I have some doubts with the initialization options of the alibaba oss client as compared to aws. I am going to make a WIP PR so I can get some help.

[2019-10-21 08:38] kakkoyun opened #79 "Add Supported storage backend section"
**Is your feature request related to a problem? Please describe.**
Add a loud and clear supported backend section to the README.md and DOCS.md

[2019-10-21 15:41] spier commented on #50
Depends on #76 (as we should reuse whatever cache clearing mechanism that go-cloud lib offers).

[2019-10-21 16:05] spier commented on #62
@akashsharma95 the maintainers of this repo discussed this issue today, and @limayekaiwalya would like to get started on this, as a way for him to get onboarded onto the project.

He will get started soon, so if you have done any work already, would you mind sharing that in a draft PR or similar?

[2019-10-21 16:10] spier commented on #66
We just discussed this issue internally and decided that we won't implement the requested `rsync based copy` as it would move drone-cache away from its core purpose.

Thanks for the idea though and please keep contributing if you like drone-cache :)

[2019-10-21 16:10] #66 closed

[2019-10-21 16:13] spier commented on #76
If go-cloud really works as well as we hope, we would also go back and port some existing cloud storage backends to use go-cloud.

However as this would not give the users any new features, we will do this in a future release. maybe v1.2.0, maybe even later.

[2019-10-21 16:24] spier opened #80 "Rename drone-cache to something more generic"
drone-cache cache is not actually limited to caching workspace artifacts **just for drone**.

So other docker-based CI solutions can use this out of the box.

As drone-cache is just a static binary, you could even use this with other CI solutions (although we have not tried this yet).

To make it easier for users to find this tool, we would have to do some work though. e.g.

- renaming drone-cache

[2019-10-21 16:24] spier commented on #80
@soundmonster Kemal mentioned that you are also using drone-cache, but not with drone?

[2019-10-22 19:15] mavimo opened #81 "fix indentation in example for drone 0.8"
**Describe the bug**
indentation in examples for `docs/examples/drone-0.8.md` is wrong

**To Reproduce**
Steps to reproduce the behavior:
1. Looks at https://github.com/meltwater/drone-cache/blob/master/docs/examples/drone-0.8.md

**Expected behavior**
1. Indentation for yaml will be fixed

[2019-10-23 07:57] #81 closed

[2019-10-24 14:46] andreyvital opened #83 "Cache is always rebuilding"
The cache is currently always being rebuilt for me—I think we should compute the `cache_key` in the rebuild process, and if it has changed then we rebuild.

[code]

That's my `cache_key`—if the lock file hasn't changed (hence the key is the same), there's no need to re-upload `node_modules` entirely.

If implemented, should also check if the cache for the given key exists. Otherwise, it's the firs

[2019-10-24 22:41] andreyvital commented on #83
It'd shave off 2 minutes off build time for me haha. I can try to implement it later on—but not guaranteed! For now I am hoping you can implement @kakkoyun 😅

[2019-10-25 12:57] #58 closed

[2019-11-04 09:41] kakkoyun commented on #72
Hey @Beanow, with the latest snapshot, when debug mode enabled you can see compression level.  Also, you can specify it if you wish.

Check out `docker pull meltwater/drone-cache:master-50833a8`

Please feel free to ping me if you observe any issues.

[2019-11-04 12:31] Beanow commented on #72
#84 adds a log message for the used gzip compression level parameter. However what I meant was the _actually achieved compression ratio_. As this depends a lot on what kind of data you're storing, it helps to inform whether the time spent compressing is worth it for this particular cache.

For instance if you're getting a 1% reduction but spend 4 minutes doing so, probably better to not gzip. But

[2019-11-04 12:50] kakkoyun commented on #72
@Beanow Ahaa, thanks for the clarification. I was a bit hasty with the implementation. I will re-open it again.

I will add a logline that prints out the ratio of input bytes and output bytes, and the time it takes in the process.

[2019-11-09 22:42] kakkoyun commented on #63
Shares the same interface with S3, nothing to do. Just needs to be documented as support backend.

[2019-11-09 22:42] #63 closed

[2019-11-09 22:43] kakkoyun commented on #79
Add Red Hat Ceph #63, GCP #61, Ali Baba #65 to this section when issues closed.

[2019-11-09 22:56] kakkoyun commented on #79
Also mention other s3 compatible object storages, Minio, (Swift?) etc. This needs some research.

[2019-12-30 18:55] dmitweb opened #87 "Cache cannot rebuid properly when nested paths specified in mount"
**Describe the bug**
I try cache yarn.lock file, but when it's extracted from tar it md5 checksum different. This leads to reinstall node_modules dependencies.

**To Reproduce**
Steps to reproduce the behavior:
1. Check md5sum before cache and after extract.

**Expected behavior**
md5sum file before and after must match

**Maintainer's note:**

[2020-01-06 12:46] kakkoyun commented on #87
@dmitweb Thanks for the feedback.

Have you actually checked the checksum of this manually by comparing them before and after? I just want to be sure that yarn or npm doesn't intercept in anyhow.

It'd be great if you can provide a simple case to reproduce this, maybe something public?

[2020-01-06 21:08] dmitweb commented on #87
@kakkoyun

Yes, i checked them. First screenshot from reproduce, second screenshot from my app. Code that check checksum is same. After many tests, I realized that the main problem with caching nested paths. Below i provide repo reproduce issue.

![1](https://user-images.githubusercontent.com/5724174/71848149-cc33ab80-30df-11ea-8d5d-ff85f04ab20f.png)

![2](https://user-images.githubusercontent.com

[2020-01-07 08:35] kakkoyun commented on #87
@dmitweb Thank you very much for your elaborate response. I'll look into it and do my best to figure it out.

[2020-02-04 06:01] threadfly opened #88 "When can you provide a s3 fixed-size patch upload method?"
## Expected Behavior
Hi，I hope the backend of s3 can support uploading through shards

## Actual Behavior
Actually only supports PUT upload

[2020-02-04 10:13] kakkoyun commented on #88
Hey @threadfly, could you provide more context for this one?
Is this in any way related to this issue https://github.com/meltwater/drone-cache/issues/55?

[2020-02-07 08:43] #62 closed

[2020-02-07 09:44] #61 closed

[2020-02-07 18:19] kakkoyun opened #90 "Multiple restore-keys"
**Is your feature request related to a problem? Please describe.**
Provide an ability to specify multiple `restore-keys` to pull from remote cache.

**Additional context**

As in https://help.github.com/en/actions/automating-your-workflow-with-github-actions/caching-dependencies-to-speed-up-workflows

[2020-02-09 12:48] mr-cn opened #91 "More complex rule to cache mounted files"
**Is your feature request related to a problem? Please describe.**
I manage my C++ project 3rd-party dependencies by CMake, and it stores the 3rd-party source files in a structure like this (and seems hard to change):
[code]

The `libxxx-src` is what need to cache, and `libxxx-build` and `libxxx-subbuild` is what don't need (and can't cache).

But it seems I can only cache the entire `_deps` direc

[2020-02-10 11:56] kakkoyun commented on #91
Hello @mr-cn ,

To be honest, I haven't tried to cache individual files and I don't recall if we explicitly check if the given mount path is a directory or not. We might be feeding that path directly to archiver. (So I will check it). You can also give it a try, `mount` is a list so try putting those paths in there individually.
[code]
OR,

you can always add manual steps to your CI pipeline. So a

[2020-02-11 13:20] mr-cn commented on #91
Thank you for your reply.

I searched a lot these days, and got these:

1. I didn't test if `mount` supports a list. But whether or not, we can set a symbol link for the `*-src` files to store them in a individual directory.

2. CMake is able to change the path of `-build` and `-subbuild`, which I didn't notice before.

So, sorry for bothering...

[2020-02-11 13:20] #91 closed

[2020-02-11 13:46] kakkoyun commented on #91
@mr-cn  All good. Thanks a lot anyway, I'll try to implement regexes.

[2020-02-16 14:14] mr-cn opened #92 "Broken link in docs"
**Describe the bug**
Broken link in docs/examples/drone-1.0.md#106 and docs/examples/drone-0.8.md#92

I will open a PR later.

[2020-02-17 13:02] #92 closed

[2020-02-27 22:53] kakkoyun opened #94 "Add more archive formats"
https://github.com/mholt/archiver

[2020-02-28 15:47] soundmonster commented on #80
I was checking out the new notification UI on GitHub and came across your comment 🙈 @spier

Yes, we're using drone-cache with TeamCity, and it works well! It took me an hour or so to get it running without Drone - no modifications were needed, I just had to figure out how to pass it all the configs it needs. I can contribute a short section about this for the readme.

I'm not sure this warrants a

[2020-03-01 16:20] kakkoyun opened #95 "feature: Distribute `drone-cache` through mainstream package registries"
It'd be convenient to distribute `drone-cache` through mainstream package registries as deb/rpm or homebrew formula with https://goreleaser.com

[2020-03-01 16:29] kakkoyun commented on #80
@soundmonster Thanks a lot for the great feedback. And I'm very happy that you utilize it :)

If we decide to rename the project for more general-purpose use, we can redirect the registry access to newly named this would keep older user CIs intact. Or we can totally fork it :)
Github Actions are on the rise, even though GitHub has a built-in mechanism to cache workspaces, `drone-cache` still has i

[2020-03-02 11:17] spier commented on #80
@soundmonster good to see that the new GitHub Notification UI seems to have the desired effect then :)

And yes, a PR with "TeamCity setup" for the README would be awesome!

[2020-03-16 19:36] danilorsilva opened #96 "Kubernetes PVC as a Cache Volume"
Hello all,

     Is there a way to mount a pvc on drone to cache files?

     I found how to set a local volume (file system) as a cache but i would like to use a kubernetes pvc to storage cache files.

Thanks!

[2020-03-23 10:17] kakkoyun commented on #96
@danilorsilva Hello, thanks for the question. However, this is not the correct place to ask this question.

You have to ask it in https://gitter.im/drone/drone or open an issue at https://github.com/drone/drone.

`drone-cache` is just a plugin (i.e a container intended to run as a pipeline step) to the https://github.com/drone/drone, it doesn't handle anything related to running infrastructure suc

[2020-03-23 10:17] #96 closed

[2020-04-01 12:32] sunbing81 opened #97 "Customize cache key with path"
The final cache path is generated by joining repo name and cache key ([here](https://github.com/meltwater/drone-cache/blob/50c33170f01195f7900e8f6457b1b8fe0dc4d53b/plugin/plugin.go#L173) & [here](https://github.com/meltwater/drone-cache/blob/50c33170f01195f7900e8f6457b1b8fe0dc4d53b/plugin/plugin.go#L148)). This prevents end users to fully control the cache destination (basically the structure is s

[2020-04-01 22:03] kakkoyun opened #98 "Use goreleaser github action"
Use https://github.com/goreleaser/goreleaser-action to trigger goreleaser when master tagged or merged,

[2020-04-03 05:36] kakkoyun commented on #97
@sunbing81 thanks for reaching out, I don’t see any reason not to. We can add a new flag to override default behaviour. It’s a small change.

Feel free to send over a PR if you feel like it 🤗

[2020-04-03 05:44] kakkoyun opened #99 "Improve User Documentation"
* Hugo
* GitHub Pages
* https://gohugo.io/hosting-and-deployment/hosting-on-github/
* https://squidfunk.github.io/mkdocs-material/getting-started/

### TODO

* Document building images and pushing locally for PR testing

[2020-04-03 05:44] kakkoyun opened #100 "Improve API Documentation"
* [x] Fill TODOs
* [ ] Generate markdown from godoc
* [ ] https://github.com/robertkrimen/godocdown
* [ ] https://zoralab.gitlab.io/godocgen/en-us/

[2020-04-05 09:41] kakkoyun opened #101 "Self-explanatory Makefile"
Make `Makefile` self-explanatory with comment and help action to ease the use for newcomers for development.

[2020-04-05 18:39] kakkoyun commented on #87
@dmitweb I know it's been a while, finally, I've got a fix candidate https://github.com/dmitweb/drone-cache-bug/pull/1

[2020-04-05 18:51] #45 closed

[2020-04-05 18:51] #55 closed

[2020-04-05 18:51] #72 closed

[2020-04-05 18:51] #74 closed

[2020-04-05 18:51] #79 closed

[2020-04-05 18:51] #87 closed

[2020-04-05 18:51] #88 closed

[2020-04-05 18:51] #97 closed

[2020-04-05 18:59] kakkoyun commented on #97
@sunbing81 as you can check in https://github.com/meltwater/drone-cache/commit/7198420a55f4346c27a182a0743d000e4d0238f0 with `remote_root` you can configure that variable now. It'll be on the next release.

[2020-04-05 19:00] kakkoyun commented on #87
Feel free to open this one again if the latest version doesn't solve your problem. It'll be in the next release otherwise.

[2020-04-08 05:59] kakkoyun opened #104 "sFTP tests in CI are flaky"
**Describe the bug**
sFTP tests in CI are flaky. They fail time to time even though everything works fine locally. Even with `drone exec`.

**To Reproduce**
1. Do some changes
1. Open a PR
1. Check if CI fails

**Expected behavior**
CI should be consistent.

[2020-04-08 08:35] #83 closed

[2020-04-08 10:21] lafriks opened #105 "Symlinks are not restored or restored incorectly in latest version"
When using `:latest` tag restored `node_modules` and after npm install, npm scripts using `npm run xxx` does work correctly.
After switching to docker tag `:master-ef42beb` it does fail to either restore `node_modules/.bin/...` folder or symlinks correctly.
I also checked the created tar file content on S3 storage and it does contain `.bin` folder with symlink files so I'm not really sure where it

[2020-04-08 10:29] kakkoyun commented on #105
Thanks for the great feedback and testing it. I will investigate the symbolic link issue.

That would be greater if you can also open an issue for that. It means we kind of break backwards compatibility, worth looking.

[2020-04-08 10:58] lafriks opened #106 "Archive file backward compatibility"
When restoring archive files created with `:latest` tag with `:master-ef42beb` version there is error when extracting archive file:
[code]

To me it looks like previously files in archive was stored with full path?

**WORKAROUND**: override with rebuild or delete cached files

[2020-04-08 11:04] lafriks commented on #105
Added debug steps and seems `node_modules/.bin` folder is empty
![image](https://user-images.githubusercontent.com/165205/78777215-d0eb5280-79a1-11ea-97f6-297a718e4048.png)

[2020-04-08 13:51] #105 closed

[2020-04-08 14:10] lafriks commented on #105
Tested and works like a charm :)

[2020-04-08 18:20] kakkoyun commented on #104
Disabled for now https://github.com/meltwater/drone-cache/commit/ef42beba5b3bc108cdd2fb80245035e0241ed617

[2020-04-09 07:11] #101 closed

[2020-04-09 10:29] kakkoyun commented on #95
Useful links:
* https://goreleaser.com/nfpm/
* https://github.com/goreleaser/nfpm

[2020-04-09 10:29] kakkoyun commented on #95
* https://goreleaser.com/homebrew/

[2020-04-09 11:41] kakkoyun commented on #95
* https://github.com/gohugoio/hugo/blob/master/goreleaser.yml

[2020-04-09 12:27] #98 closed

[2020-04-17 10:46] spier opened #113 "The links in the README section "Supported Storage Backends" don't work"
**Describe the bug**
The links in the README section about **Supported Storage Backends** are not working.
See https://github.com/meltwater/drone-cache#supported-storage-backends

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://github.com/meltwater/drone-cache#supported-storage-backends in your browser
2. Click any of the links
3. I am redirected to `https://github.com/meltwater/

[2020-04-17 11:03] spier commented on #113
I would be happy to fix this, if I only knew where these links are meant to point to :)
Looks like this section of the README got introduced in 2a4334d7?

[2020-04-17 11:48] kakkoyun commented on #113
Thanks for opening this, it'll help me to keep track of the issue.

I have forgotten to commit those files. I want to introduce them with https://github.com/meltwater/drone-cache/pull/108

Soon we will be launching nice documentation through github-pages, it is under construction.

![](https://media3.giphy.com/media/EIiJp9cQ3GeEU/giphy.gif?cid=5a38a5a287692ea297bc4659ea6174712a27819857b2c263&rid=g

[2020-04-21 07:12] zdoherty opened #114 "Support IAM Roles for Kubernetes Service Accounts (IRSA)"
**Is your feature request related to a problem? Please describe.**
I feel it's very tedious to issue, rotate, and smuggle AWS IAM keys around different config files or into the drone-secrets service. While drone-cache currently supports using instance profile credentials when running on EC2, it doesn't support leveraging IAM Roles for Service Accounts (IRSA) credentials when running on Kubernetes,

[2020-04-28 10:07] kakkoyun opened #116 "Looking for co-maintainers"
As the sole active maintainer, I'm looking for co-maintainers for the project to push features faster.
Please ping me if you're interested.

It'd be awesome if you have already contributed to the project and interested. Otherwise, there would be a brief probation period after starting contributing to the project.

[2020-04-28 16:34] jimsheldon commented on #116
Hey @kakkoyun

Our team is keeping an eye on issues opened in this repository, we are happy to help.

We have some automation watching issues in this repo.  How do you think we could best contribute?

[2020-04-29 06:30] kakkoyun commented on #116
Hey @jimsheldon, thanks for reaching out. Any type of help is appreciated. But mostly I need a contributor who gets their hands dirty more often.

And I'm going to start a documentation page and probably I could use help for the documentation. Lower barrier of entry.

Last but not least, testing the release candidates always is appreciated https://github.com/meltwater/drone-cache/releases/tag/v1.1

[2020-04-30 19:34] jimsheldon commented on #116
Hey @kakkoyun, we have discussed this as a team.  For any issue where you would like our help, can you please ping @omarwashington, he is our Product Owner.

We can then prioritize the work through our normal processes.

Thanks!

[2020-05-06 17:52] NotMoni commented on #116
@kakkoyun I am willing to help. Feel free to contact me. 🦄

[2020-05-22 14:36] pastushenkoy opened #118 "Add support for page upload for azure"
**Is your feature request related to a problem? Please describe.**
When building frontends, cache sizes can easily exceed 256 Mb limit Azure sets for Put method. In this case Azure returns 413 and refuses to upload blob.

**Describe the solution you'd like**
PagePut method can be used. There is an API in azure for such kind of situations. Unfortunately, api requires slice of bytes for PagePut so c

[2020-05-25 13:15] pastushenkoy opened #120 "New version of gcs fake breaks tests"
**Describe the bug**
The new version of fsouza/fake-gcs-server (1.19) breaks plugin tests.

**To Reproduce**
Steps to reproduce the behavior:
Just clone master, start docker-compose and run tests.

**Expected behavior**
Tests passed.

**Desktop (please complete the following information):**
 - OS: MacOs catalina

[2020-05-25 16:04] kakkoyun commented on #120
@pastushenkoy Thanks for reporting this.
It'd be great if we can fix this in a separate PR.

For more context: https://github.com/meltwater/drone-cache/pull/119/files#r429900969

[2020-05-26 09:01] #120 closed

[2020-05-26 13:17] pastushenkoy commented on #116
Is there a simple way to get this RC from meltwater docker repository? As far as I see publishing is disabled in GoReleaser

![image](https://user-images.githubusercontent.com/22550728/82905317-664f9f80-9f6c-11ea-88a5-286c9beb9fc8.png)

[2020-05-26 13:28] kakkoyun commented on #116
@pastushenkoy We don't push images for release candidates. However, you're right we should push RCs to repo for convenience. Could you please open an issue for this? I'll look into it.

[2020-05-26 14:18] pastushenkoy opened #122 "Push every built version of plugin to docker hub"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Containers of non-release builds are not pushed into docker hub. This makes development and debugging difficult as I cannot use my builds in my pipelines.

**Describe the solution you'd like**
A clear and concise description of what you wa

[2020-05-26 14:20] pastushenkoy commented on #122
@kakkoyun The obvious solution here is to enable `skip_push: auto` in `.goreleaser.yml` to `false`. I can make pull request if it suits you.

[2020-05-26 15:15] kakkoyun commented on #122
@pastushenkoy of course, go ahead. I just want to be sure that we only push something to registry only we create a tag.

[2020-05-28 10:21] pastushenkoy commented on #122
I'm trying to find approach to publish minor tags without affecting the `latest` tag in docker registry and I don't see any way to do it with goreleaser as publishing tool. As goreleaser can only have one `.goreleaser.yml` and only one `dockers` section in this file, there is no possibility to customize container tags for specific release.

Don't you think that publishing with drone is better appr

[2020-06-11 06:15] kakkoyun commented on #122
@pastushenkoy Thanks for the discussion. I found this extremely healthy for the sake of this project.

1. I get your reasoning and we have convenient `make container` and `make container-push` with an overridable parameter for contributors to test their changes on their own pipeline. Just change the variable to point your own publicly accessible registry an it'd do the rest.
It's not the upstream

[2020-06-11 06:20] kakkoyun commented on #106
Let's not block the release with this issue which is already delayed considerably. @lafriks already provided a workaround.
We're also planning the introduce a cache clear/delete/flush functionality to easily work around this issue.
I have also added a `known issue` tag to this to keep around.

Thanks a lot for reporting this @lafriks

[2020-06-11 06:23] kakkoyun commented on #118
@pastushenkoy for reporting and already proposing a possible solution (https://github.com/meltwater/drone-cache/pull/119) to this issue.

As I've already comment on the PR, we shall fix this without breaking the streaming upload.

[2020-06-11 06:25] kakkoyun commented on #113
Closing this one for sake of https://github.com/meltwater/drone-cache/issues/99

[2020-06-11 06:25] #113 closed

[2020-06-11 07:35] #122 closed

[2020-06-11 11:43] kakkoyun commented on #122
An example of a snapshot release https://github.com/meltwater/drone-cache/releases/tag/v1.1.0-rc1

In the documentation and contributing I'll document pushing images from local machine.

[2020-06-11 15:40] kakkoyun commented on #100
Decided to just use godoc https://pkg.go.dev/github.com/meltwater/drone-cache?tab=overview

[2020-06-11 15:40] #100 closed

[2020-06-12 06:15] cmays20 commented on #106
@kakkoyun I am getting this same error with the current `:latest` tag: sha256:b52a859bebdb55d14b85cd966ffcca1c86353ade93ce58603fc7d0c3ea233026.  My archive was just rebuilt with the same image, so I am not sure this only related to backwards compatibility.  Here are the ENV variables I am using (running this in k8s):
[code]
And here is the error message:
[code]

Let me know if you see anything obv

[2020-06-12 06:20] cmays20 commented on #106
I can confirm it works if I specify tag 1.0.4 (obviously I should be specifying a tag to be safe anyway).
[code]

[2020-06-12 07:09] kakkoyun commented on #106
@cmays20 Thanks for the detailed report. Yesterday, I have released the a new version `v1.1.0` so `latest` points this version, which actually includes this known issue. Since there's an easy, known  fix I've decided to go ahead and release it. Sorry for the inconvenience.
If the work around doesn't work or it's not manageable please let me know, I can work on a remedy.

[2020-06-12 13:20] cmays20 commented on #106
@kakkoyun can you explain the workaround better?  I already tried deleting the cached files and rebuilding them.  However, I can't get a restore to work with my settings.

[2020-06-12 19:20] pastushenkoy commented on #118
It turned out that the latest azure client fixes my problem, but I didn't have chance to check it because release candidates are not pushed into the registry.

They definitely should :)

[2020-06-12 19:20] #118 closed

[2020-06-12 19:24] pastushenkoy opened #128 "Make local builds more transparent"
**Is your feature request related to a problem? Please describe.**
It is now quite unclear how can new collaborator build and test his changes.

**Describe the solution you'd like**
1. Add short description to readme.md
2. Makefile not doesn't use OS and ARCH environment variables although they present and are filled. `drone-cache` phony should use these variable to build app.

**Describe alternat

[2020-06-15 06:36] kakkoyun commented on #106
Hey @cmays20, I realized when I've checked your logs the problem you've is different than what described here. You are trying to cache a directory that is outside the workspace. Which was accidentally made possible with the previous the previous release, we had to fix as a remedy to another problem.

Let's open an another issue for this and if the path starts with `/`, we can introduce a new absol

[2020-06-15 06:39] kakkoyun opened #130 "Enable absolute path mode"
**Is your feature request related to a problem? Please describe.**
There is a need to cache certain directories outside the workspace. As it described in https://github.com/meltwater/drone-cache/issues/106#issuecomment-643086789

**Describe the solution you'd like**
Introduce a mode to enable absolute path mode if a given mount path starts with `/`.

cc @cmays20

[2020-07-02 10:37] peavers opened #131 "Help Request - Cache doesn't seem to work with example settings"
Sorry if this is a silly question, but following the example documentation for using the local file system for cache, I'm unable to get it working.

My config built from the example:

[code]
When a new build starts for the first time, it isn't able to find the cache as it doesn't exist yet (expected) However the second time around it's also unable to find the cache. It looks to be saving the cache

[2020-07-03 04:57] peavers commented on #131
I've manged to work this out so closing the issue. For reference if anyone comes accross this with a similar problem, my working solution looks like:

[code]

[2020-07-03 04:57] #131 closed

[2020-07-07 20:53] Codebreaker101 opened #132 "NoCredentialProviders error when accessing public bucket on Minio"
**Describe the bug**
`NoCredentialProviders` error occurs when accessing Minio public bucket without setting credentials

**To Reproduce**
Set Minio bucket policy to download.
Try to access the files in the bucket without credential

**Expected behavior**
To be able to access public cached files

**Additional context**
The problem lies in the `s3.go` file. If the credentials are not set then `conf

[2020-07-21 03:06] wagaru opened #134 "If one of the mounted folder not exists, rebuild will failed."
I will do unit test on feature branch & master branch, and e2e test only for master branch.

For unit test, I need to run `composer install`, it will generate vendor/*
For e2e test, I need to run `npm install`, it will generate node_modules/*

I want to cache this two folders, vendor & node_modules
However, if it is a feature branch commit, it wont run e2e test, so there will be no node_modules to

[2020-07-21 21:41] framled commented on #134
Hi @wagaru I have the same issue

[2020-07-30 15:53] kakkoyun commented on #134
@wagaru @framled Just to make sure that I understood you correctly. If one of the given two paths is **NOT** accessible, you still want task to succeed?

We can consider this as improvement, we have a similar issue to create separate archives for each given path.
That being said, this is easily solvable by separating caching task per path if the given path is optional.

[2020-07-30 16:30] kakkoyun commented on #50
@limayekaiwalya How about jumping on this issue? We have a partial implementation in place. You can finish it up to onboard on project. I can help you to push through it. What do you think?

[2020-07-31 06:30] wagaru commented on #134
In my case, yes!
The task should be successed, and still have the cache for exists folder.

[2020-08-03 08:33] #132 closed

[2020-09-14 17:30] atombender opened #135 "GCS broken due to JSON key parsing"
**Describe the bug**
GCS is completely broken due to a typo. `GCS_CACHE_JSON_KEY` and `PLUGIN_JSON_KEY` aren't passed on to the storage implementation.

**To Reproduce**
Try to use `GCS_CACHE_JSON_KEY` or `PLUGIN_JSON_KEY`.

**Expected behavior**
Should parse the key.

[2020-09-14 20:45] atombender opened #137 "GCS broken due to wrong HTTP client"
**Describe the bug**
GCS errors with 403:

```<?xml version='1.0' encoding='UTF-8'?><Error><Code>AccessDenied</Code><Message>Access denied.</Message><Details>Anonymous caller does not have storage.objects.get access to the Google Cloud Storage object.</Details></Error>```

After a lot of tracing, I realized that if `GCS_ENDPOINT` isn't set, the Google SDK is called with `option.WithHTTPClient()` u

[2020-09-15 06:33] #135 closed

[2020-09-15 06:42] #137 closed

[2020-10-03 17:05] melkorm commented on #50
@kakkoyun Hey 👋

I would like to look into this, but I have a question regarding correct behaviour and implementation:

a) we could make `[CLEAR CACHE]` behave so it skips restore step, but it is confusing as it doesn't actually clear cache in defined storage, it will work as new cache will overwrite old one tho,
b) if we want to really purge cache from the storage I could potentially use defined

[2020-10-04 09:41] limayekaiwalya commented on #50
@kakkoyun SOrry I missed your ping. I actually started on https://github.com/meltwater/drone-cache/issues/70

[2020-10-05 10:43] emersonf commented on #83
Is there documentation for the `rebuild` step? I'd like to find out how the cache key is used to determine what to do and whether paths are being checked for changes.

As a template, CircleCi's documentation on `save_cache` has a nice diagram that makes it clear when to expect when caches are saved. (See the [bottom of the blue Workflow Run 2 and Workflow Run 3 boxes in the documentation](https://

[2020-10-07 09:47] imranismail opened #139 "A flag to not fail silently"
**Is your feature request related to a problem? Please describe.**
I have a use-case where I need to restore step to fail

**Describe the solution you'd like**
A flag to control this feature

[2020-10-07 09:50] #139 closed

[2020-10-07 09:54] imranismail commented on #139
Apparently, available via this flag: https://github.com/meltwater/drone-cache/blob/master/main.go#L296

[2020-10-09 02:00] hacktron95 opened #140 "drone prints some secrets in debug mode"
**Describe the bug**
Drone prints passed `gcs.json-key` secret in the logs when `debug` mode is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. using current version `v1.1.0`, I passed `gcs.json-key` as organization secret and enable debug mode.

**Expected behavior**

on debug mode or not, drone should never print a secret, and you will see in the screenshot that drone actually does

[2020-10-12 08:00] kakkoyun commented on #140
@hacktron95 Wow 😮 Thanks for catching this.

[2020-10-12 09:58] hacktron95 commented on #130
hello @kakkoyun and good day, please assign me.

[2020-10-13 04:30] hacktron95 commented on #140
@kakkoyun if you have a suggested approach, or you doubt something is causing this,
please let me know, I might be able to solve it.

[2020-11-05 18:35] hhamalai opened #142 "Allow specifying AWS IAM role to assume with IAM user keys"
**Is your feature request related to a problem? Please describe.**

Currently drone-cache support AWS users, but often the permissions are granted to roles instead of users. The usage of roles also allows universally working API access when some policies are IP restricted as described here https://aws.amazon.com/premiumsupport/knowledge-center/iam-restrict-calls-ip-addresses/

**Describe the solut

[2020-11-07 19:01] danihodovic commented on #131
@peavers What does the NodeJS step look like?

[2020-11-10 09:42] #142 closed

[2020-11-10 10:39] hhamalai opened #144 "S3 buckets with KMS encryption require explicit endpoint configuration"
**Is your feature request related to a problem? Please describe.**
When using S3 buckets with KMS SSE turned on for drone-cache, the drone manifest requires explicit definition for S3 endpoint with https schema. This is due to:
1. KMS SSE backed buckets require secure transport or else they will throw an error:
`Requests specifying Server Side Encryption with AWS KMS managed keys must be made over

[2020-11-30 14:41] pwntester opened #145 "Security Issue: Request for contact"
Hello,

The [GitHub Security Lab team](https://securitylab.github.com/) has found a potential vulnerability in your project. Please create a [Security Advisory](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/creating-a-security-advisory) and invite me in to further disclose and discuss the vulnerability details and potential fix. Alternatively, please add

[2020-11-30 19:45] jimsheldon commented on #145
@pwntester you should have an invite

[2020-11-30 21:10] pwntester commented on #145
Thanks

[2020-11-30 21:10] #145 closed

[2020-12-10 14:56] kolaente opened #146 "Provide an arm image"
**Is your feature request related to a problem? Please describe.**
I am packaging my application in arm docker images and am looking to cache the build dependencies to speed up the build, especially since the arm runner is slow. However, this plugin is only available for amd64, not arm.

**Describe the solution you'd like**
I'd love to have arm images for the plugin so I can use it on the arm runn

[2020-12-11 17:51] joneshf-cn opened #147 "How to use with `plugins/docker` and `plugins/ecr`"
**Is your feature request related to a problem? Please describe.**

I cannot seem to figure out how to use this plugin with a step that uses [`plugins/ecr`][] (or its underlying plugin [`plugins/docker`][]). It seems like, since [`plugins/docker`][] uses docker-in-docker, that the files created/used in the `Dockerfile` are not available to this plugin. Does that seem about right? I imagine that I

[2020-12-17 20:51] khmarbaise opened #148 "Minio support seemed to be not working"
**Describe the bug**

Currently having problems to create a cache on a local minio instance with the following debug output:
[code]

**To Reproduce**
Using the following (part) of the drone.io file:
[code]
Based on the error message then i defined the region and after that I got a problem related the bucket which results into an access on a different host like `bucketname.IP` which either a proble

[2021-01-08 14:20] A-Helberg commented on #148
I just spent the whole day on the same issue for a clojure project (maven based)

1) Your error mentions that you are not specifying a region, for non AWS endpoints, looks like this is ignored but still required.
2) Looks like the cache doesn't support absolute paths, so `/root/.m2` will not work, looks like it has to be relative to the workspace, which seems to be `/drone/src`.
3) To get around p

[2021-01-12 15:45] kakkoyun commented on #131
@peavers Happy to accept PRs to improve docs and examples. It'd be much appreciated.

[2021-01-12 15:49] kakkoyun commented on #146
@kolaente Thanks for the issue. When I have first tried this (months ago) we had issues with a couple of dependencies. That being said, we can give it another try and if needed we can get rid of problematic dependency (of course if it's not vital). This shouldn't be hard. One just need to enable it in and resolve the issues https://github.com/meltwater/drone-cache/blob/master/.goreleaser.yml

I'm

[2021-01-12 15:55] kakkoyun commented on #147
@joneshf-cn If I understand you correctly you somehow want to cache your intermediate image layers, so you are looking for a docker build cache? Am I correct?

If it's the case, `drone-cache` doesn't intend to be a solution for that use cases.

I'd be glad if you could clarify your use case.

[2021-01-12 16:30] joneshf-cn commented on #147
Sorry for being confusing.

I'm not looking for `drone-cache` to work with docker layers. What I'm saying is that I don't know how to make the cache available inside the `Dockerfile` used by `plugins/docker`/`plugins/ecr`.

[2021-01-12 18:20] kakkoyun commented on #147
Oh got it right now. We need to check which volumes/directories are mounted and with which mechanism they get mounted.

[2021-01-12 19:32] jimsheldon commented on #147
If I understand correctly, this plugin would have to be trusted to be able to run `docker load` or `docker save` to get layers into and out of the image cache on the host?

[2021-01-12 23:19] joneshf-cn commented on #147
Oh. As in, there would need to be changes to `drone-cache` in order to make it work? If so, don't fret too much about it. It would be nice, and I won't shy away from something that works. But, I'm sure there's a different way to get caching with `plugins/ecr` that doesn't involve y'all doing a bunch of work.

[2021-01-14 17:34] jimsheldon commented on #147
@joneshf-cn you could definitely achieve docker image layer caching with drone as long as you can run `docker load` and `docker save` commands in your pipeline somehow.

Unfortunately, accessing the docker socket on the host would require your repo to be [trusted](https://docs.drone.io/quickstart/cli/#trusted-mode). If you are running your own hosted drone instance, that setting is something you c

[2021-01-14 17:34] #147 closed

[2021-01-20 15:07] viceice opened #149 "Windows Container Support"
**Is your feature request related to a problem? Please describe.**
I Like to use this plugin on a windows container runtime.

**Describe the solution you'd like**
Publish multiarch docker images.

**Describe alternatives you've considered**
Building multiarch docker images myself as already done [here](https://github.com/orgs/visualon/packages/container/package/drone-cache) 🙃

**Additional context

[2021-01-21 13:41] hhamalai opened #150 "IAM role assumption is not working with AWS IAM"
**Describe the bug**
IAM role assumption is not working with AWS IAM. Minio tests work as expected as S3 endpoint is the same as IAM STS endpoint.

**To Reproduce**
Run drone-cache with policies granted on the role that is defined for drone-cache

[2021-02-02 06:56] kakkoyun commented on #149
Thanks, @viceice for reporting. This was something I planned for a while. Never had the time to get to it. This shouldn't be hard to achieve with `goreleaser` (that's what we use).

We'd really appreciate your contributions. So help wanted :)

[2021-02-02 06:59] viceice commented on #149
I'll see what i can do.

[2021-02-02 06:59] #116 closed

[2021-02-02 09:43] #150 closed

[2021-02-10 12:07] Alexis211 opened #156 "Support zstd compression"
**Is your feature request related to a problem? Please describe.**
I'm using drone-cache for a Rust project to cache the `target` directory, which contains compiled modules for all of my project's dependencies, so that the pipeline doesn't have to rebuild everything from scratch (it takes a looong time!). Unfortunately the `target` directory tends to grow very large (often several GBs), so I'd lik

[2021-02-12 08:14] kakkoyun commented on #156
@Alexis211 It'd be nice to have this an additional method. Help wanted, PRs are more than welcome!

[2021-02-12 10:54] Fraccaman opened #157 "Rebuild cache condition"
**Is your feature request related to a problem? Please describe.**
Rebuilding cache takes a lot of times, in particular if the project is big and has a lot of dependencies.

**Describe the solution you'd like**
It would be nice to have the possibility to have a "hash mechanism": hash a list of provided files (like package.json for node), check against a previous version of it and, if changed, rebu

[2021-02-12 12:29] kakkoyun commented on #157
Hey @Fraccaman, thanks for opening the issue.

We actually have this feature by using custom cache keys. You can check the documentation https://github.com/meltwater/drone-cache/blob/master/docs/cache_key_templates.md.

I'm going the close the issue. Feel free to comment for further clarification.

[2021-02-12 12:29] #157 closed

[2021-02-12 13:25] Fraccaman commented on #157
Uhm, in my current build I have something like this:
[code]

As the `cache_key` field is static, does it mean that it should never rebuild the cache? Because, at the moment, it always rebuild it.
Btw I think i can change it to something like ```{{ checksum "package.json" }}```.

[2021-02-12 14:03] kakkoyun commented on #157
In theory, this should never rebuild. We need to have a closer look. Also, you have to have the same key for both of the steps (rebuild/restore).

Exactly, it'd work if you change it to `"{{ checksum "package.json" }}"`.

[2021-02-12 14:13] Fraccaman commented on #157
From my side, I can confirm that it with `cache_key: "cache"` it always rebuild, Ill try to see if I can make it work.

[2021-02-12 14:50] Fraccaman commented on #157
I doesn't work neither with `"{{ checksum \"stack.yaml\" }}"`. Always rebuild the cache even if the the checksum is the same (there is only 1 folder in s3).

[2021-02-12 15:08] kakkoyun commented on #157
Could you please share the version you're using and both configuration steps? And I assume stack.yaml checksum doesn't change

[2021-02-12 15:23] Fraccaman commented on #157
Here are the steps:

[code]

[2021-02-12 16:29] kakkoyun commented on #157
One thing I immediately realize that you use an unsupported tag https://hub.docker.com/layers/meltwater/drone-cache/dev/images/sha256-4f20165fd54a34f4365a2cdb5db62a3d12bd6c59e2a2746bce7db4519c06ae9b?context=explore. `dev` images are strictly reserved for development. And I'm not sure what we have in there. It's even older than the latest stable version of the official image. So first try to use a

[2021-02-12 18:17] Fraccaman commented on #157
I tried with latest, but I still see the same behaviour.

[2021-02-13 12:39] Fraccaman commented on #157
Reading the code a little bit, I think it has something to do with the fact that `override` field has to be set to `false` (`true` by default). I will check it out.

[2021-02-13 12:49] Fraccaman commented on #157
Can confirm, it was because `ovveride` needs to be set to false. Everything works now! Thank you :)

[2021-02-15 11:58] cal101 opened #158 "corrupt archive file (gzip, filesystem)"
**Describe the bug**

I am using the cache plugin to cache an .m2 directory.
Too often the cache gets corrupted.
Assuming that gnu tar should be able to read the archive it looks to me that the created archive is corrupt:

[code]

**To Reproduce**

It's not clear when and how this happens.

The configuration to store the cache is
[code]

**Expected behavior**
Don't create corrupted files.

[2021-02-25 21:45] Goblin80 commented on #148
I believe @A-Helberg analysis is spot on. but shouldn't a symbolic link to `/root/.m2` work just fine?

[2021-02-28 12:47] hg commented on #158
I ran into this a few times. I believe it happens under two specific conditions:

1. you're using local filesystem storage
2. multiple builds try to rebuild caches using the same key at the same time

The problem went away after switching the storage method to minio (S3).

[2021-02-28 15:25] cal101 commented on #158
Both conditions were met by my usage.

Smells like file system backend directly writes to target file instead of
writing to tmp file first and then do an atomic rename.

I fixed it by writing a simple sftp/scp based caching solution instead.

[2021-03-14 00:52] celedev97 opened #160 "Add more architectures for the docker image"
**Is your feature request related to a problem? Please describe.**
I'd love to use this plugin in a raspberry pi 4, but the architecture is arm64, while the only architecture for the docker image is amd64.
Running the image from arm64 result in this:
[code]

**Describe the solution you'd like**
Build and publish the image for more architectures.

[2021-08-04 13:38] bilenkis commented on #114
Also relevant for us.

[2021-08-05 21:40] apoorva-marisomaradhya commented on #140
@hacktron95 Do you still see secrets printed in logs when debug mode is enabled?

[2021-08-19 17:52] jimsheldon commented on #70
Sorry for letting this linger so long.

We feel this capability is best managed in the backend itself. As @kakkoyun said, S3 supports lifecycle management. Other backends have similar capabilities.

[2021-08-19 17:52] #70 closed

[2021-09-21 08:42] xfy520 opened #168 "no such file or directory"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem
  1. initialize, <filesystem> as backend make sure volume is mounted, </tmp/cache> as cache root stat /tmp/cache: no such file or directory
## Specifications

  - Version: v1.1.0
  - Platform:
  - Subsystem: Linux amd64

[2021-09-21 09:35] viceice opened #169 "Windows: Access denied"
**Describe the bug**

I tried to use the cache with minio, but i think it's a container issue

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using ... config
2. While ...
3. See error

**Expected behavior**
It should simply work.
Maybe i need to be `ContainerAdministrator`

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the f

[2021-09-21 19:41] apoorva-marisomaradhya commented on #168
Hi @xfy520, would you be able to provide us more info to understand the issue here, perhaps it'll be easy if you can share how drone-cache is set in the pipeline.

[2021-09-23 14:06] viceice commented on #169
OK, using `ContainerAdministrator` fixed the issue

[2021-09-23 14:06] #169 closed

[2021-09-28 17:12] #99 closed

[2021-09-29 20:37] jimsheldon commented on #146
With [v1.2.0](https://github.com/meltwater/drone-cache/releases/tag/v1.2.0) are now publishing an arm64 docker image. Please give it a try and let us know if you find any problems.

[2021-09-30 11:43] jimsheldon commented on #160
Hello @fcdev, we have added a arm64 docker image in v1.2.0 https://github.com/meltwater/drone-cache/releases/tag/v1.2.0

Please give it a try and write back with any feedback. Thanks!

[2021-09-30 13:29] jimsheldon commented on #146
Reopening this since it seems the arm64 image contains the amd64 binary, I'll update when I have a fix

[2021-09-30 13:30] jimsheldon commented on #160
My mistake, the arm64 image is not working as expected. I will update this when it has been fixed.

[2021-09-30 17:23] jimsheldon commented on #146
I pushed a fix and released https://github.com/meltwater/drone-cache/releases/tag/v1.2.1

Please give it a try

[2021-09-30 17:23] #146 closed

[2021-09-30 17:24] jimsheldon commented on #160
https://github.com/meltwater/drone-cache/releases/tag/v1.2.1 has been released which fixes the arm64 docker image. Please give it a try.

[2021-09-30 18:32] jimsheldon opened #186 "test feature request"
Testing our automation

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2021-09-30 18:34] #186 closed

[2021-09-30 20:35] jimsheldon opened #188 "v1.2.0 breaks EC2 IAM role bucket access"
**Describe the bug**

v1.2.0 introduced a regression where EC2 instances that had been using their instance role to access an S3 bucket can't anymore:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. On an AWS EC2 instance where its instance role gives it read/write access to an S3 bucket, run a pipeline step like this:
[code]

**Expected behavior**
The plugin should use the instance

[2021-10-01 20:49] #188 closed

[2021-10-06 11:20] thefoxie opened #190 "Exec pipeline support"
Hey, it seems this plugin doesn't support exec pipeline. Would it be possible to add it in the future?

[2021-10-07 16:15] bdefore opened #191 "[docs] examples reference dev image"
**Describe the bug**
documentation sometimes references examples that use the dev image

**To Reproduce**
read docs

**Expected behavior**
no dev flag https://github.com/meltwater/drone-cache/issues/157#issuecomment-778297766

**Screenshots**

**Additional context**

[2021-10-11 18:07] #191 closed, assigned to nobody

[2021-11-12 14:58] cmckeen commented on #190
Helo, this ticket has been awaiting a response for 30 days.  I'm closing this for now, please feel free to re-open if there are any further updates.

[2021-11-12 14:58] #190 closed

[2021-11-22 16:52] #148 closed

[2021-11-22 16:54] omarwashington commented on #148
Seems that this issue is resolved, if you need further assistance please open a new issue

[2021-12-14 23:48] xvandish opened #194 "Mismatching drone step timing and component=restorer msg="cache restored" took=11.174617156s"
**Describe the bug**
In Drone, when running the plugin on a cache restore using GCS, the `restorer` component prints out that restore is finished and took `x` seconds. The Drone step for the restore, however, doesn't terminate for another ~30-50s. A screenshot is attached below.

In the screenshot you can see the `component=restorer msg="cache restored" took=11.174617156s` is printed as `12s` by d

[2021-12-17 13:23] jimsheldon commented on #194
Thank you for reporting this issue, we will investigate as soon as possible.

[2021-12-17 13:24] jimsheldon commented on #160
The arm64 build is now available, closing this out.

[2021-12-17 13:24] #160 closed

[2022-02-04 19:05] ste93cry opened #196 "Support passing multiple files to the `checksum` function"
**Is your feature request related to a problem? Please describe.**
While trying to mimick the functionality of the `actions/cache` GitHub Action, I found out that the `checksum` function needed to customize the cache key does not support multiple files

**Describe the solution you'd like**
The input argument of the `checksum` function should be changed so that it accepts multiple strings. It would

[2022-03-17 07:40] kakkoyun commented on #196
This looks like something, we can have. Do you want to give it a try?

[2022-03-17 07:41] kakkoyun commented on #158
You are totally right, this is something I have overlooked. This should be easily achievable.
Anyone wants to give it a try?

[2022-03-17 19:22] ste93cry commented on #196
Sure, I've submitted a PR 😃

[2022-03-21 09:45] kakkoyun opened #199 "Migrate CI tasks to Github Actions"
- Keep the end to end tests on drone.io public offering
- Since the company behind drone.io sold. The free public offering is not stable, I would suggest to utilize github actions for suitable tasks

[2022-03-28 21:50] #156 closed

[2022-03-28 22:10] hikerspath commented on #199
We are working with Harness on this, stability has returned for our test-cases.  Keeping this open for tracking / monitoring though

[2022-04-03 18:14] rustdreamer opened #201 "why repeat build in rust?"
**Describe the bug**
I've tried 101 times, but all repeat build in rust.

**To Reproduce**
Steps to reproduce the behavior:

steps:
- name: restore-cache-with-filesystem
  image: meltwater/drone-cache
  pull: true
  settings:
    backend: "filesystem"
    restore: true
    cache_key: "volume"
    mount:
      - target
  volumes:
  - name: cache
    path: /tmp/cache

- name: rust-build
  image: rus

[2022-04-17 13:27] KucharczykL opened #203 "Allow excluding files from caching"
**Is your feature request related to a problem? Please describe.**
I have a folder that I want to cache but not all of its subfolders and files.

**Describe the solution you'd like**
I would like to specify which folders or files not to cache.

**Describe alternatives you've considered**
I can probably manually delete the files in a separate step just before rebuilding the cache.

**Additional con

[2022-04-27 16:56] cydowens commented on #201
@rustdreamer Sorry for the delayed response, do you have any updates around this issue? I will look into duplicating the above, but wanted to see if you have had any changes?

[2022-06-30 15:31] PaulRill00 opened #206 "Doublestar support in mount array"
**Is your feature request related to a problem? Please describe.**
When working with mono-repo's caching dependencies might be tedious. So instead of mounting every subfolder and it's dependencies, allow for generic folder selection.

For example, if one has a folder structure like:
[code]
Let's say you want to cache all `node_modules` and `dist` folders, without having to require all those folder

[2022-07-18 18:52] bdebyl commented on #206
This looks like a fun quick feature, I'll look at adding it now for the next release

[2022-07-19 06:03] mingcheng commented on #148
have anyone knows does this issures is resolved? there is still the same problem (some configure) on my machine, pls check.

[2022-07-19 13:49] bdebyl commented on #206
Implemented as part of https://github.com/meltwater/drone-cache/pull/209

[2022-07-19 14:11] bdebyl commented on #201
I'm not sure I understand the issue here. Perhaps not all required directories are mounted as part of `drone-cache` settings, or more likely this is an issue with the rust compiler seeing the files as out of date. Perhaps a Makefile could prove useful here though may yield similar behavior.

I am not familiar enough with rust to understand if the build command is selective with it's sources and ou

[2022-07-19 14:15] bdebyl commented on #199
Drone CI still seems to work quite well as of today. There are some issues I've discussed with GitHub actions and there isn't a clear advantage I can see here. Given that one can self-host Drone and the cloud offered Drone we are able to utilize are working perfectly I don't see a strong argument for the level of effort needed here. Will also keep this open for tracking, but unless issues arise wi

[2022-07-19 14:16] bdebyl commented on #196
Further discussion in comments of https://github.com/meltwater/drone-cache/pull/198

[2022-07-19 14:21] bdebyl commented on #158
@cal101 if you are able to share insight on your solution to this problem I would be happy to take a look at implementing this within drone-cache itself to get this resolved!

[2022-07-19 14:25] KucharczykL commented on #203
Generally, the same reason why both blacklists and whitelists exist: sometimes you want everything except for one file, and sometimes you want nothing except for one file. Solving both with only one solution is tedious or even impossible.

More concretely, I have a folder I want to cache with a built template for a static site but there's another folder inside it that I don't want to cache. The re

[2022-07-19 14:25] bdebyl commented on #149
This seems like it was implemented as part of GitHub actions used with Goreleaser here:
- https://github.com/meltwater/drone-cache/blob/master/.goreleaser.yml#L13
- https://github.com/meltwater/drone-cache/blob/master/.goreleaser.yml#L47

However, I don't see specific Windows builds on [Docker Hub for drone-cache](https://hub.docker.com/r/meltwater/drone-cache/). I'll look into this more and figur

[2022-07-19 15:49] bdebyl commented on #203
Hmm I see. We've just recently added double-star glob support for `mount` paths in the settings (e.g. `path/**/subpath`, `path/**`, etc.) as part of https://github.com/meltwater/drone-cache/pull/209.

I'll try my hand at implementing this later this afternoon as it shouldn't be too difficult. I may have to add single-star glob matching as well, which should be much more straightforward once #209 i

[2022-07-19 19:27] KucharczykL commented on #203
Nice, thank you for considering it!

[2022-07-19 20:16] bdebyl commented on #203
No problem @KucharczykL

Seems like this will take a bit more effort than I had time for today. I'll keep you posted but will try to get this done by this week depending on what comes up.

[2022-07-26 13:31] raphendyr opened #210 "Tar archive does not restore file (or directory) modification time stamps"
**Describe the bug**

Restoring the cache doesn't restore file modification times.

This can effect application which check if a file has expired based on the time stamp. In my case, the `dependency-check-maven`, which updates CVE database daily and seems to check this based on the cache file timestamp.

**To Reproduce**

I used the following bash script to develop a fix for this, thus it works as

[2022-07-26 13:40] raphendyr commented on #201
Two ideas:

1. Ensure those compiled / cached files are really under `target` and not e.g. `$HOME/.cache/foobar`. I.e., are you really caching the data you assume you should? Note that absolute paths are not yet supported, see #141

2. The cache plugin doesn't restore timestamps, thus cargo could assume one file is modified when it's really not. However, the cache should have a newer file, thus th

[2022-08-04 10:32] bbs-csel opened #211 "Unable to read from S3 buckets with TLS/SSL required"
**Describe the bug**
We've recently enforced TLS/SSL on all traffic to and from our S3 buckets including the one holding the cached artifacts from our Drone pipelines. After we've forced this, the plugin is unable to read and write from/to the bucket:

[code]

We've attempted, on the same node (EC2) with the same IAM role to read/write from the bucket using e.g. the AWS CLI and that works without

[2022-08-04 10:47] bbs-csel commented on #211
It seems like this *might* be related to the same issue described in https://github.com/meltwater/drone-cache/issues/144 which also seems to be around issues with lack of TLS by default.

[2022-08-09 17:32] hikerspath commented on #199
Closing issue, will revisit and reference if required.

[2022-08-09 17:32] #199 closed

[2022-08-09 19:07] #206 closed

[2022-08-09 19:48] hikerspath commented on #210
Confirmed issue present in v1.3.0 (latest) since `git describe --dirty` returned `v1.2.2-25-g44c16f4`:

[code]

[2022-08-10 16:21] #196 closed

[2022-09-06 16:32] bdebyl opened #218 "Fix issues with goreleaser Darwing builds failing"
**Describe the bug**
New releases are blocked from being published due to failing Darwin builds as part of a goreleaser.

**To Reproduce**
Simply re-tag or re-run the Goreleaser "Release" step for GitHub Actions:
https://github.com/meltwater/drone-cache/runs/8144874481?check_suite_focus=true

**Expected behavior**
Successful build on all archs and published release of tag.

**Desktop (please compl

[2022-09-06 16:35] bdebyl opened #219 "Move releases from GitHub Actions to Drone CI"
**Is your feature request related to a problem? Please describe.**
There are no specific problems with having Goreleaser, or releases in general part of GitHub Actions, but it does mean maintaining both GitHub Actions pipelines and Drone CI pipelines for a single repository.

**Describe the solution you'd like**
Simply move the release steps related to `drone-cache` from GitHub Actions to Drone CI

[2022-09-12 20:16] bdebyl opened #220 "Remove liche and embedmd (generate) steps from CI"
**Describe the bug**
The `generate` step dependencies are causing build errors on new PRs with silent errors. Reproducing locally shows error messages that can essentially be attributed to both `liche` and `embedmd` being old and unmaintained. It's suggested to remove these steps and simply omit their usage as they are not vital to the applications ability to be used.

**To Reproduce**
Steps to re

[2022-09-12 20:23] bdebyl commented on #220
https://github.com/meltwater/drone-cache/pull/221

[2022-09-12 20:30] #220 closed

[2022-09-14 15:05] bdebyl commented on #65
Resolved by https://github.com/meltwater/drone-cache/pull/223

[2022-09-14 15:05] #65 closed

[2022-09-15 08:59] spier commented on #219
@bdebyl would open source contributors have access to build information in Drone as well?
Similar to what they can see in the GitHub Actions output today?

[2022-09-15 14:56] #130 closed

[2022-09-15 23:00] timbze commented on #90
Still needed 😄

Rebuild cache should only run when the primary restore key is not hit. That way I can calculate restore key based on dependencies and it will change only when dependencies change.

[2022-09-21 17:04] #210 closed

[2022-09-28 18:38] bdebyl commented on #219
@spier are you able to see the Drone CI build outputs from the commits [here](https://cloud.drone.io/meltwater/drone-cache/630)? If so then yes.

The only step that's used by GitHub Actions is Goreleaser, which I assume was used with Actions as it has more straightforward release creation than what one might see in Drone CI for GitHub.

Beyond that I don't see any advantage in maintaining two sepa

[2022-09-28 18:41] bdebyl commented on #90
@timbze Thanks for letting us know. I'd have to know more about the use case to better understand how to implement this. If anyone wants to volunteer for taking this on let me know, otherwise it will probably fairly low priority on the list of Drone Cache related work for me, personally.

[2022-09-28 20:40] timbze commented on #90
I'll use GitHub's cache action as an example. Read up on the feature [here](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#matching-a-cache-key).

You do this:
[code]
Which evaluates to (for example):
[code]

When `npm-feature-d5ea0750` cache is found, it will be restored, but since it's the **first** key, the cache will **not** be rebuilt. In effect

[2022-09-29 11:40] spier commented on #219
@bdebyl I looked at the output in an incognito browser window, and yes, I can see it.
Excellent, so meltwater org membership isn't required for that.

Thanks for exploring this with me :)

[2022-10-05 10:46] KucharczykL commented on #203
Hi @bdebyl, any luck with this? :slightly_smiling_face:

[2022-10-06 18:31] bdebyl commented on #149
Upon further investigation it seems like the upstream dependency for `mattn/go-ieproxy` (see [here](https://github.com/mattn/go-ieproxy/pull/44)) used by the Azure Cloud provider we support in `drone-cache`

I am unsure if go-ieproxy#44 will fix these build issues with Drone Cache (via Goreleaser) or not, but when this is merged we can certainly try and attempt to re-enable Windows based builds.

[2022-10-06 18:45] #218 closed

[2022-11-10 15:36] bdebyl commented on #219
Seems like GITHUB_TOKEN is an automatically generated and managed secret as part of Action workflows.

Read more [here](https://docs.github.com/en/actions/security-guides/automatic-token-authentication)

This means that Action workflows are unique in not requiring explicit secrets for generating a release and can use the natively baked in ones. So far I have been unable to find anything in Drone C

[2022-11-10 15:36] #219 closed

[2022-11-21 16:58] cal101 commented on #158
@bdebyl Sorry, I didn't saw the notification.

My solution was to not use the cache plugin but write my own solution based on sftp/scp.
My assumption about the bug in the cache plugin is that the new archive file is not written atomically and multiple writers write to the same file.
A typical solution to that is to let each writer write to it's own file, close it and then finally rename the file t